<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="sessionFactory"
          class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean"> <!-- TODO: DO this more portably - consider Spring Boot -->
        <!--<property name="lobHandler" ref="defaultLobHandler" />-->
        <property name="persistenceUnitName" value="eccoPU"/>
        <property name="entityInterceptor" ref="cosmoHibernateInterceptor"/>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.generate_statistics">false</prop>
                <prop key="hibernate.cache.use_query_cache">false</prop>
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
                <prop key="cache.region.factory_class">net.sf.ehcache.hibernate.SingletonEhCacheRegionFactory</prop>
                <prop key="hibernate.show_sql">true</prop>

                <prop key="hibernate.hbm2ddl.auto">update</prop>

                <prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
            </props>
        </property>
        <property name="dataSource" ref="jdbcDataSource"/>

    </bean>

    <bean id="auditableObjectInterceptor"
          class="org.osaf.cosmo.model.hibernate.AuditableObjectInterceptor"/>

    <bean id="eventStampInterceptor"
          class="org.osaf.cosmo.model.hibernate.EventStampInterceptor"/>

    <bean id="cosmoHibernateInterceptor"
          class="org.osaf.cosmo.hibernate.CompoundInterceptor">
        <property name="interceptors">
            <list>
                <ref bean="auditableObjectInterceptor"/>
                <ref bean="eventStampInterceptor"/>
            </list>
        </property>
    </bean>

    <bean id="jdbcDataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver"/>
        <property name="url" value="jdbc:derby:target/test-db;create=true"/>
    </bean>


    <!-- Transaction manager for a single Hibernate SessionFactory
         (alternative to JTA) -->
    <bean id="transactionManager"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="sessionFactory" />
    </bean>

    <bean id="configurableEntitySupport" class="org.osaf.cosmo.spring.ConfigurableEntitySupport"/>

</beans>

