<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <!--<property name="lobHandler" ref="defaultLobHandler" />-->
        <property name="annotatedPackages">
            <list>
                <value>org.osaf.cosmo.model.hibernate</value>
            </list>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>org.osaf.cosmo.model.hibernate.HibAttribute</value>
                <value>org.osaf.cosmo.model.hibernate.HibAttributeTombstone</value>
                <value>org.osaf.cosmo.model.hibernate.HibAvailabilityItem</value>
                <value>org.osaf.cosmo.model.hibernate.HibBaseEventStamp</value>
                <value>org.osaf.cosmo.model.hibernate.HibBinaryAttribute</value>
                <value>org.osaf.cosmo.model.hibernate.HibBooleanAttribute</value>
                <value>org.osaf.cosmo.model.hibernate.HibCalendarAttribute</value>
                <value>org.osaf.cosmo.model.hibernate.HibCalendarCollectionStamp</value>
                <value>org.osaf.cosmo.model.hibernate.HibCollectionItem</value>
                <value>org.osaf.cosmo.model.hibernate.HibCollectionItemDetails</value>
                <value>org.osaf.cosmo.model.hibernate.HibCollectionSubscription</value>
                <value>org.osaf.cosmo.model.hibernate.HibContentData</value>
                <value>org.osaf.cosmo.model.hibernate.HibContentItem</value>
                <value>org.osaf.cosmo.model.hibernate.HibDecimalAttribute</value>
                <value>org.osaf.cosmo.model.hibernate.HibDictionaryAttribute</value>
                <value>org.osaf.cosmo.model.hibernate.HibEventExceptionStamp</value>
                <value>org.osaf.cosmo.model.hibernate.HibEventLogEntry</value>
                <value>org.osaf.cosmo.model.hibernate.HibEventStamp</value>
                <value>org.osaf.cosmo.model.hibernate.HibFileItem</value>
                <value>org.osaf.cosmo.model.hibernate.HibFreeBusyItem</value>
                <value>org.osaf.cosmo.model.hibernate.HibHomeCollectionItem</value>
                <value>org.osaf.cosmo.model.hibernate.HibICalendarAttribute</value>
                <value>org.osaf.cosmo.model.hibernate.HibICalendarItem</value>
                <value>org.osaf.cosmo.model.hibernate.HibIntegerAttribute</value>
                <value>org.osaf.cosmo.model.hibernate.HibItem</value>
                <value>org.osaf.cosmo.model.hibernate.HibItemTombstone</value>
                <value>org.osaf.cosmo.model.hibernate.HibMessageStamp</value>
                <value>org.osaf.cosmo.model.hibernate.HibMultiValueStringAttribute</value>
                <value>org.osaf.cosmo.model.hibernate.HibNoteItem</value>
                <value>org.osaf.cosmo.model.hibernate.HibPasswordRecovery</value>
                <value>org.osaf.cosmo.model.hibernate.HibServerProperty</value>
                <value>org.osaf.cosmo.model.hibernate.HibStringAttribute</value>
                <value>org.osaf.cosmo.model.hibernate.HibStamp</value>
                <value>org.osaf.cosmo.model.hibernate.HibStampTombstone</value>
                <value>org.osaf.cosmo.model.hibernate.HibTaskStamp</value>
                <value>org.osaf.cosmo.model.hibernate.HibTextAttribute</value>
                <value>org.osaf.cosmo.model.hibernate.HibTimestampAttribute</value>
                <value>org.osaf.cosmo.model.hibernate.HibTombstone</value>
                <value>org.osaf.cosmo.model.hibernate.HibUser</value>
                <value>org.osaf.cosmo.model.hibernate.HibXmlAttribute</value>
            </list>
        </property>
        <property name="entityInterceptor" ref="cosmoHibernateInterceptor"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.generate_statistics">false</prop>
                <prop key="hibernate.cache.use_query_cache">false</prop>
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
                <prop key="cache.region.factory_class">net.sf.ehcache.hibernate.SingletonEhCacheRegionFactory</prop>
                <prop key="hibernate.show_sql">true</prop>

                <prop key="hibernate.hbm2ddl.auto">update</prop>

                <prop key="hibernate.dialect">org.hibernate.dialect.DerbyTenSevenDialect</prop>
            </props>
        </property>
        <property name="dataSource" ref="jdbcDataSource"/>

    </bean>

    <bean id="auditableObjectInterceptor"
          class="org.osaf.cosmo.model.hibernate.AuditableObjectInterceptor"/>

    <bean id="eventStampInterceptor"
          class="org.osaf.cosmo.model.hibernate.EventStampInterceptor"/>

    <bean id="cosmoHibernateInterceptor"
          class="org.osaf.cosmo.hibernate.CompoundInterceptor">
        <property name="interceptors">
            <list>
                <ref bean="auditableObjectInterceptor"/>
                <ref bean="eventStampInterceptor"/>
            </list>
        </property>
    </bean>

    <bean id="jdbcDataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver"/>
        <property name="url" value="jdbc:derby:target/test-db;create=true"/>
    </bean>


    <!-- Transaction manager for a single Hibernate SessionFactory
         (alternative to JTA) -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <bean id="configurableEntitySupport" class="org.osaf.cosmo.spring.ConfigurableEntitySupport"/>

</beans>

